body {
  background-color: #A0B8A5;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin:auto;
	margin-top:10vh;
	width:50%;
	padding:1pc;
	text-align: center;
}
#logo {
	align:center;
	height:20vh;
}

button {
	background-color: #ECF3A3;
	color: #547958;
	padding: 5px;
	margin:.5pc;
	border:2px solid #547958;
	border-radius:5px;
	width:10%;
}

h1{
	color: #547958;
}

input {
	margin:.5pc;
	padding: 5px;
	border:2px solid #547958;
	border-radius:5px;
	width:30%;
}
